<header>
  <section>
    <a href="#"  target="_blank"><img src="https://librerianacional.com/assets/images/libreria-nacional-logo.png" alt="" id="logo"></a>
        <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
        <input type="checkbox" id="toggle-1">
    <nav>
        <ul>
            <li><a [routerLink]="['/writers']" routerLinkActive="active-link">Writers</a></li>
            <li><a [routerLink]="['/books']" routerLinkActive="active-link">Books</a></li>
        </ul>
    </nav>
    </section>
</header>
<div class="contenedor">
    <router-outlet></router-outlet>
</div>